* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
 	font-family: 'Gothic A1', sans-serif;
     color: #565656;
  
}

body {
	background-color: #d7cec7;
}
/*-----Menu Bar-------*/
#navbar {
	height: 80px;
}

.main-nav {
	float: right;
	list-style-type: none;
	margin-top: 25px;
}

.main-nav li {
	display: inline-block;
	margin-right: 10px;
}

.main-nav li a {
	text-decoration: none;
	padding: 10px 20px;
}

.active a {
	border-top: 3px solid #76323f;
	border-bottom: 3px solid #76323f;
}
.main-nav li a:hover {
	border-top: 3px solid #f4f4f4;
	border-bottom: 3px solid #f4f4f4;
}

/*--------Contents-------------*/

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 30em;
    align-items: center;
    justify-items: center;
    background-color: #f4f4f4;
    margin: 6em auto 6em auto;
}

.map {
    margin-left: 6em;
}

.map p {
    border: 2px solid #76323f;
    padding: 1em;
}

.contactNumber {
    padding: 2em;
    border: 3px solid #76323f;

}

.innerCN {
    font-size: 1.4em;
    line-height: 2em;
    padding: 20px;
}

.question {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 20em;
    margin: 2em 25% 4em 25%;
    border: 5px solid #f4f4f4;
    padding: 1em;
}

.emailText,
.titleText {
    height: 4em;
    margin-bottom: 1em;
    border-color: white;
}

.questionText {
    height: 20em;
    margin-bottom: 1em;
}

.submitBtn {
    width: 10em;
    height: 4em;
    margin-left: 60em;
    border-radius: 20px;
}




/*-------------Footer----------*/
.contactFooter {
	border-top: 3px solid #76323f;
	padding-top: 40px;
	padding-bottom: 50px;
}

.contactList {
	list-style-type: none;
	text-align: center;
}

.contactList li {
	display: inline-block;
	margin-right: 20px;
	margin-left: 20px;
}
